body {
    font-family: 'Arial', sans-serif;
    background-color: #292929;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
  
    font-family:Arial, Helvetica, sans-serif;
   text-decoration-line:inherit;
}

.tab-buttons {
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
    
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    transition: background-color 0.3s ease;
}

.tab-btn:hover {
    background-color: #d3d3d3;
}

.container {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
}

.feature {
    display: none;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #444;
}

p {
    margin-bottom: 10px;
}

.result-label {
    font-weight: bold;
}

.result {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.action-btn {
    background-color: #67cff8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #00c9f1;
}

.code-snippet {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    overflow-x: auto;
}


/* Optional: Syntax highlighting styles */
code {
    color: #dcaee0; /* Highlight color for code */
}

.keyword {
    color: #ff79c6; /* Color for keywords */
}

.comment {
    color: #6272a4; /* Color for comments */
}

.string {
    color: #f1fa8c; /* Color for strings */
}

#drawer {
    width: 460px;
    height: 0; /* Start with zero height */
    background-color: #f4f4f4;
    overflow: hidden; /* Hide content when closed */
    transition: height 0.3s ease; /* Smooth height transition */
    border: 1px solid #ddd; /* Optional border */
}

#drawer.open {
    height: 300px; /* Height when open */
}
#toggleLogo {
    width: 30px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Pointer cursor on hover */
}